/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-06-21, 16:40:54
    Author     : Piotrek
*/

    @CHARSET "UTF-8";

    @import url('https://fonts.googleapis.com/css?family=Special+Elite');
    html, body {
        font-family: 'Special Elite', cursive;
        font-size: 16px;
        box-sizing:border-box;
        background-color: #111111;
        color: #ccc;
    }
    
    .mycontainer {
        color: #ccc;
        line-height: 200%;
    }
    